<p>Search result</p>
<% if @search_dishes.present? %>
  <div class="d-flex flex-wrap">
    <% @search_dishes.each do |dish| %>
      <div class="col-4 p-3">
        <%= render dish %>
      </div>
    <% end %>
  </div>
<% else %>
  <p>Dont have any recipe</p>
<% end %>
