<div class="container">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Recipe</li>
      <li class="breadcrumb-item"><%= @category.name %></li>
    </ol>
  </nav>

  <% if @dishes.present? %>
    <div class="d-flex flex-wrap">
      <% @dishes.each do |dish| %>
        <%= render dish %>
      <% end %>
    </div>
  <% else %>
    <p>Dont have any recipe</p>
  <% end %>
</div>
