<header class="navbar navbar-expand-xl navbar-light navbar-custom shadow d-flex justify-content-center">
  <div class="container m-2" width="70%">
    <span class="navbar-brand mb-0 h1">
      <img src="https://cdn.iconscout.com/icon/premium/png-512-thumb/cooking-10-113588.png" alt="" width="40" height="40">
      <%= link_to "Recipe", root_path, class: "text-decoration-none text-reset"%>
    </span>
    <%= form_tag search_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :name, params[:name], class: "form-control me-2", placeholder: "Dish name" %>
      <%= submit_tag "Search", class: "btn btn-outline-success" %>
    <% end %>
  </div>
</header>
